{% extends 'base_home.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <style media="screen">
    aside {
      width: 40%;
      padding-left: .5rem;
      margin-left: .5rem;
      float: right;
      box-shadow: inset 5px 0 5px -5px #29627e;
      font-style: italic;
      color: #29627e;
    }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container">
        <main id="content" class="group" role="main">
          <div class="main">
            <h1>{{title}}</h1>
            <article class="post group">
              {{post}}
            </article>
            <p>{{form}}</p>
          </div>
          <aside>
            <p>The Rough-skinned Newt defends itself with a deadly neurotoxin.</p>
          </aside>
        </main>
      </div>
    {% endblock %}
  </body>
</html>
