{% extends 'base_home.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Forum 2k</h1>
        <p class="lead">An online forum for writers and columnists!</p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
        <div class="row">
          {% for row in post_row %}
         <div class="col-lg-4">
           <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
           <h2>{{row.title}}</h2>
           <p>{{row.article|truncatechars:300 }}</p>
           <p><a class="btn btn-secondary" href="{% url 'expand_post_function' row.id %}" role="button">View details »</a></p>
         </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div>

    </div>
    {% endblock %}
  </body>
</html>
