{% extends 'base_home.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <style>

    </style>
    {% endblock %}
  </head>
  <body>
    {% block body %}

<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
          <form method="post">
              <div class="row">
                  <div class="col-md-4">
                      <div class="profile-img">
                          <!-- <img src="" alt=""/>
                          <div class="file btn btn-lg btn-primary">
                              Change Photo
                              <input type="file" name="file"/>
                          </div> -->
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="profile-head">
                        <table class="table">
                          <tr scope="row">
                            <td>Username</td>
                            <td> <input type="text" name="" value=""> </td>
                          </tr>
                          <tr scope="row">
                            <td>Full Name</td>
                            <td> <input type="text" name="" value=""> </td>
                          </tr>
                          <tr scope="row">
                            <td>Email</td>
                            <td> <input type="text" name="" value=""> </td>
                          </tr>
                          <tr scope="row">
                            <td>Profession</td>
                            <td> <input type="text" name="" value=""> </td>
                          </tr>
                          <tr scope="row">
                            <td>Gender</td>
                            <td> <input type="text" name="" value=""> </td>
                          </tr>
                        </table>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <input type="submit" class="btn btn-primary btn-block" name="btnAddMore" value="Edit Profile"/>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-8">

                  </div>
              </div>
          </form>
      </div>

    {% endblock %}
  </body>
</html>
